/* ---------Fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&family=Lobster&family=Montserrat:wght@700&family=Poppins:ital,wght@0,500;1,500&display=swap');

/* ------------Base Style---------- */
*{
    
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
}


/* ------------------------------
Header Style
-------------------------------- */
.head-container{
    position: relative;
}
.header-container{
    
    display: flex;
    position: absolute;
    width: 1300px;
    height: 646px;
    left: 20px;
    background:#161616;
    border-radius: 30px;
    
}
.text-container{
    position: relative;
    width: 531px;
    height: 424px;
    left: 80px;
    top: 46px;

}
.text-container h1{
    position: absolute;
    width: 531px;
    height: 240px;
    top: 15px;
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #FFFFFF;
}
.text-container p{
    position: absolute; 
    width: 506px;
    height: 78px;
    top: 300px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.header-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    position: absolute;
    width: 187px;
    height: 56px;
    top: 450px;
    background: #DD0000;
    border: none;
    border-radius: 5px;
    transition: all 3s ease;
}
.header-button:hover{
    transform: scale(1.2);
    background-color: black;
}
.btn{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px; 
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.image-container img{
    position: absolute;
    width: 400px;
    height: 563px;
    left: 801px;
    top: 83px;
}
/* ---------------------
Blog sTYLE
------------ */
.blogs-contain{
    width: 1300px;
    position: relative;
    left: 20px;
    top: 750px;
   
}
.blogs-btn{
    display: flex;
    flex-direction: column;
    align-items: center;   
    position: absolute;
    width: 312px;
    height: 300px;
    background: #161616;
    border-radius: 10px;
}
.blogs-btn >.match{
    position: absolute;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    top: 30px; 
}
.blogs-btn >.group{
    position: absolute;
    width: 252px;
    height: 64px;
    top: 120px; 
    border-radius: 10px;
}
.blogs-btn  a{
    position: absolute;
    width: 252px;
    height: 64px;
    background-color: #DD0000;
    color: #FFFFFF;
    top: 210px; 
    border-radius: 10px;
}
.blogs-btn > a > .blog{
    position: absolute;
    width: 252px;
    height: 64px;
    background-color: #DD0000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px; 
}
.blog-container{
    width: 800px;
    position: relative;
    left: 325px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
}
.blog-container > .blogs{
    box-shadow: 2px 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}
.blogs-img > img{
    margin:30px 0px 0px 15px;
    padding: 10px;
}
.blogs-img >  span{
    position: relative;
    top: -25px;
    left: 5px;
    font-weight: bold;
 }
 .blogs-img > h3{
    width: 100%;
    font-size: 26px;
    color: #161616;
    margin:10px 0px 0px 8px;
    padding: 10px;
}
.blogs-img > p{
     margin-left: 60px;
    font-size: 16px;
    color: #161616;
}

/* -----------------
Footer
-------------------- */
.footer-first{
    width: 1300px;
    height: 444px;
    position: relative;
    left: 0px;
    top: 900px;
    background: #161616;
}

.footer-first> h1{
    position: absolute;
    width: 100px;
    height: 60px;
    left: 50%;
    top: 100px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
 .footer-first > hr{
    position: absolute;
    width: 1100px;
    height: 0px;
    left: 120px;
    top: 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

 .footer-second{
    position: absolute;
    left: 300px;
    top: 280px;
}
.footer-second ul{
    display: flex;
    gap: 30px;
}

.footer-second > ul > li{
    list-style: none;
}
.footer-second > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.media-icn{
    display: flex;
    gap: 40px;
    position: absolute;
    top: 80%;
    left: 40%;
}
.media-icn > a{
    text-decoration: none;
    color: #FFFFFF;
}

.media-icn > a > i{
    font-size: 40px;
    transition: all 1s ease;
}

.media-icn > a > i:hover{
    color: green;
    transform: scale(1.2);
} 

/*--------------------------------------
 Responsive layout
 -------------------------------------- */

 /* For Mobile Version */
 @media only screen and (max-width:688px) {
    /* Header Responsive */
    .header-container{
        
        display: flex;
        flex-direction: column;
        width: 317px;
        height: 534px;
        position: absolute;
        left: 5px;
        background: rosybrown;
        border-radius: 30px;
    }
    .text-container{
        position: absolute;
        width: 400px;
        height: 424px;
        left: 20px;
        top: 20px;
    }
    .text-container>h1{
        position: absolute;
        top: 15px;
        font-size: 19px;
    }
    .text-container>p{
        position: absolute;
        width: 127px;
        top: 113px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
    .image-container> img{
        position: absolute;
        width: 182px;
        height: 364px;
        left: 132px;
        top: 106px;
    }

    .head-container>.header-button{
        position: absolute;
        top: 420px;
        left: 30px;
    }

    /*---------------------- 
    Blog responsive
    -----------------*/
    .blogs-contain{
        width: 640;
        margin-top: 20%;
        display: flex;
        flex-direction: column;

    }
    .blogs-btn{
        width: 310px;
        height: 300px;   
        position: absolute;
        top: -80px;
        left: -10px;
        background: #161616;
        border-radius: 20px;
    }
    .blog-container{
        width: 540px;
        position: relative;
        left: -10px;
        top: 280px;
        display: grid;
        grid-template-columns: repeat(1, 530px);  
    }
    .blogs-img > img{
        width: 110px;
    } 

    /* --------------------
    footer Responsive */
    .footer-first{
        width: 100%;
        height: 90vh;
        position: relative;
        left: 0px;
        top: 1060px;
        background: #161616;

    }
    .footer-first>h1{
        position: absolute;
        left: 103px;
        top: 60px;
        font-size: 50px;
        line-height: 50px;
        color: #FFFFFF;
    }
    .footer-first> hr{
        position: absolute;
        width: 350px;
        height: 0px;
        left: 10px;
        top: 140px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .footer-second{
        position: absolute;
        left: 120px;
        top: 180px;

    }

    .footer-second ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }

    .media-icn{
        display: flex;
        gap: 80px;
        position: absolute;
        top: 70%;
        left: 20%;
    }
    .media-icn> a{
        text-decoration: none;
        color: #FFFFFF;
    }
 }

 /* -----------------
tablet view
------------ */
@media only screen and (min-width:688px) and (max-width:992px) {
    .header-container{
        display: flex;
        flex-direction: column;
        width: 750px;
        height: 646px;
        position: absolute;
        left: 5px;
        background: darkcyan;
        border-radius: 30px;
    }
    .text-container{
        position: absolute;
        left: 20px;
        top: 40px;
    }
    .text-container>h1{
        position: absolute;
        width: 531px;
        height: 240px;
        left: 30px;
        top: 40px;
    }
    .text-container>p{
        position: absolute;
        left: 30px;
        top: 320px;
    }
    .image-container> img{
        position: absolute;
        width: 200px;
        height: 403px;
        left: 540px;
        top: 243px;
    }

    .head-container>.header-button{
        position: absolute;
        top: 450px;
        left: 10px;
    }

    /*---------------------- 
    Blog responsive
    -----------------*/

    .blogs-btn{
        width: 750px;
        height: 300px;
        position: absolute;
        top: -80px;
        left: -10px;
        background: #161616;
        border-radius: 20px; 
    }
    .blog-container{
        width: 747px;
        position: relative;
        left: -10px;
        top: 280px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs-img > img{
        width: 110px;
    }

    /* ----------
    footer responsive
    ------------- */
    .footer-first{
        width: 100%;
        height: 100vh;
        position: relative;
        left: 0px;
        top: 1100px;
        background: #161616;

    }
    .footer-first>h1{
        position: absolute;
        left: 310px;
        top: 50px;
        font-size: 60px;
        line-height: 60px;
        color: #FFFFFF;;
    }
    .footer-first> hr{
        position: absolute;
        width: 580px;
        height: 0px;
        left: 89px;
        top: 141px;
        border: 1px solid rgba(255, 255, 255, 0.1)
    }
    
    .footer-second{
        position: absolute;
        left: 28px;
        top: 189px;

    }

    .footer-second ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
    
    }

    .media-icn{
        display: flex;
        gap: 80px;
        position: absolute;
        top: 80%;
        left: 35%;
    }
    .media-icn> a{
        text-decoration: none;
        color: #FFFFFF;
    }

}
 
